<%= form_with(model: merchant) do |form| %>
  <% if merchant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(merchant.errors.count, "error") %> prohibited this merchant from being saved:</h2>

      <ul>
        <% merchant.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :reference %>
    <%= form.text_field :reference %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :live_on %>
    <%= form.date_select :live_on %>
  </div>

  <div class="field">
    <%= form.label :disbursement_frequency %>
    <%= form.text_field :disbursement_frequency %>
  </div>

  <div class="field">
    <%= form.label :minimum_monthly %>
    <%= form.text_field :minimum_monthly %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
