<p id="notice"><%= notice %></p>
<h2> Merchant:</h2>
<p>
  <strong>Reference:</strong>
  <%= @merchant.reference %>
</p>

<p>
  <strong>Email:</strong>
  <%= @merchant.email %>
</p>

<p>
  <strong>Live on:</strong>
  <%= @merchant.live_on %>
</p>

<p>
  <strong>Disbursement frequency:</strong>
  <%= @merchant.disbursement_frequency %>
</p>

<p>
  <strong>Minimum monthly:</strong>
  <%= @merchant.minimum_monthly %>
</p>

<p>
  <%= link_to 'Edit', edit_merchant_path(@merchant) %> |
  <%= link_to 'All Merchants', merchants_path %>
</p>
<br/>

<h2>Orders: </h2>

<% @merchant_orders.each do |order| %>
  <p>
    <strong>Amount:</strong>
    <%= order.amount %>

    <strong>Created At:</strong>
    <%= order.created_at %>
  </p>
<% end %>

<%= link_to 'New Order', new_merchant_order_path(@merchant) %>
<br/>

